<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Vikingo Estudios</a>
      </li>
    </ul>
  </div>
  <nav class="top-bar-right" id="responsive-menu">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">

      <li>
        <a class="is-active" href="{{root}}historia">Historia</a>
      </li>
      <li class="">
        <a href="{{root}}servicios">Servicios</a>
      </li>
      <li>
        <a href="{{root}}equipamiento">Equipamiento</a>
      </li>
      <li>
        <a href="{{root}}galeria">Galaria</a>
      </li>
      <li>
        <a href="{{root}}staff">Staff</a>
      </li>
      <li>
        <a href="{{root}}contacto">Contacto</a>
      </li>
    </ul>
  </nav>
</div>
{{!--
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Studio</a>
      </li>
      <li>
        <a href="{{root}}about">About</a>
      </li>
      <li class="has-submenu">
        <a href="{{root}}services">Services</a>
        <ul class="submenu menu vertical" data-submenu>
          <li>
            <a href="{{root}}services/photography">Photography</a>
          </li>
          <li>
            <a href="{{root}}services/recording">Recording</a>
          </li>
          <li>
            <a href="{{root}}services/videography">Videography</a>
          </li>
          <li>
            <a href="{{root}}services/events">Event Services</a>
          </li>
          <li>
            <a href="{{root}}services/career">Artistic Development</a>
          </li>
        </ul>
      </li>
      <li></li>
      <li>
        <a href="{{root}}contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <input type="search" placeholder="Search">
      </li>
      <li>
        <button type="button" class="button">Search</button>
      </li>
    </ul>
  </div>
</div> --}}